@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #2158CE;
  --accent-foreground: #A5C1FE;
  --background: #DCD9FF;
  --text-primary: #000000;
}

:root.dark { 
  --accnet-color: #2158CE;  
  --accent-foreground: #A5C1FE;
  --background: #0B0B0D;
  --text-primary: #ffffff;
}

body {
  background-color: var(--background);
  /* background-image:  */
    /* radial-gradient(circle at 10% 20%, rgba(255, 255, 255, 0.1) 0%, transparent 20%), */
    /* radial-gradient(circle at 90% 80%, rgba(255, 255, 255, 0.1) 0%, transparent 20%); */
  background-attachment: fixed;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
}

